.App {
  margin: 1% auto;
  padding: 0;
  border: 20px solid grey;
  border-radius: 10px;
  height: 94%;
  max-width: 740px;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
